#out {
  display: grid;
  border: 2px solid red;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 300px;
  margin: 50px auto;
  background-color: orange;
}

#out div {
  border: 2px dashed green;
  background-color: lightblue;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
