/* * {
color: blue;
} */

/* p {
color: blue;
} */

/* .box {
border: 1px solid black;
} */

/* #header {
color: red;
} */

/* h1, h2 {
color: greenyellow;
} */

 div p {
color: green;
} 